# Frontend Environment Variables
EXPO_PUBLIC_API_URL=http://localhost:3000

# RevenueCat
EXPO_PUBLIC_RC_APPLE_KEY=your_rc_apple_key_here
EXPO_PUBLIC_RC_GOOGLE_KEY=your_rc_google_key_here

# Sentry
EXPO_PUBLIC_SENTRY_DSN=your_sentry_dsn_here

# Mixpanel
EXPO_PUBLIC_MIXPANEL_TOKEN=your_mixpanel_token_here
